html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
    background-color: #000000;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

.product img {
    width: auto;
    height: 100px;
    object-fit: cover;
}

.product {
    margin-bottom: 15px;
}

/* For desktop */
.col-lg-3 {width: 25%;}

/* For tablet */
@media only screen and (max-width: 1024px) {
    .col-md-4 {width: 33.33%;}
}

/* For small tablets */
@media only screen and (max-width: 768px) {
    .col-sm-6 {width: 50%;}
}

/* For mobile phones */
@media only screen and (max-width: 576px) {
    .col-12 {width: 100%;}
}

.container {
    margin-top: 20px;
}
